* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

* body {
  font-family: "Product Sans", sans-serif;
}

* button {
  border-style: none;
  cursor: pointer;
}

.container {
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0 60px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 100px;
  }
}

.section-one {
  background-color: #111111;
  padding: 40px 0;
}

.section-one header {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-one header .header-logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section-one header .header-links {
  display: none;
}

@media screen and (min-width: 1046px) {
  .section-one .header-links {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-flex: 7;
        -ms-flex-positive: 7;
            flex-grow: 7;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-one .header-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    padding: 0 20px;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-one .header-links .register-button {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    padding-left: 20px;
  }
  .section-one .header-links .register-button button {
    padding: 15px 30px;
    border-radius: 50px;
    background-color: #2b2b2b;
    color: white;
  }
}

.section-one .start-register-card {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 0;
  padding: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px 20px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-one .start-register-card .inner-register-detail-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

.section-one .start-register-card .inner-register-detail-card h2 {
  font-size: 2.2rem;
  margin-bottom: 30px;
  font-weight: bold;
  position: relative;
}

.section-one .start-register-card .inner-register-detail-card h2::before {
  content: "UI/UX";
  position: absolute;
  font-size: 6rem;
  color: #707070;
  top: 20px;
  opacity: 0.1;
  z-index: 0;
}

.section-one .start-register-card .inner-register-detail-card h3 {
  font-weight: 500;
  margin-bottom: 30px;
  color: #707070;
}

.section-one .start-register-card .inner-register-detail-card p {
  line-height: 40px;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .section-one .start-register-card .inner-register-detail-card p {
    width: 70%;
  }
}

.section-one .start-register-card .inner-register-detail-card button {
  padding: 20px 100px;
  margin-top: 50px;
  background-color: #f36732;
  color: white;
  border-radius: 10px;
  font-size: 16px;
}

.section-one .start-register-card .inner-register-image-card {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-one .start-register-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 50px 100px;
  }
  .section-one .start-register-card .inner-register-image-card {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px;
    text-align: right;
  }
  .section-one .start-register-card .inner-register-image-card img {
    max-width: 500px;
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=styles.css.map */