// Color Variables
$blackBackground: #111111;
$whiteBackGround: #ffffff;
$offWhiteColor: #fafafa;
$greyHeaderColor: #f8f8f8;
$accentColor: #f36732;
$lightBlack: #707070;

// Screen sizes
$mediumScreen: 768px;
$largeScreen: 992px;
$extraLargeScreen: 1200px;

// Dimension Varaibles
$sectionPadding: 40px;

// Mixins
@mixin mQ($args) {
  @media screen and (min-width: $args) {
    @content;
  }
}

@mixin sectionTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  &::before {
    position: absolute;
    font-size: 4rem;
    color: $lightBlack;
    top: -5px;
    right: -60px;
    opacity: 0.1;
    z-index: 0;
  }
}

@mixin segmentContainer {
  padding: 40px;
  border-radius: 15px;
  @include mQ($largeScreen) {
    padding: 60px 60px;
  }
}

@mixin beforeTileOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

@mixin boxShadow {
  border-radius: 30px;
  box-shadow: 24px 34px 33px -40px rgba(171, 161, 171, 1);
}

// Resets
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

  body {
    font-family: "Product Sans", sans-serif;
  }

  button {
    border-style: none;
    cursor: pointer;
  }
  p {
    line-height: 40px;
    font-size: 1.1rem;
    font-weight: 200;
  }
}

// Default Container
.container {
  padding: 0 20px;
}

@include mQ($mediumScreen) {
  .container {
    padding: 0 30px;
  }
}

@include mQ($largeScreen) {
  .container {
    padding: 0 60px;
  }
}

@include mQ($extraLargeScreen) {
  .container {
    padding: 0 100px;
  }
}

// Section one
.section-one {
  background-color: $blackBackground;
  padding: $sectionPadding 0;
  position: relative;

  //   Header menu
  header {
    color: white;
    display: flex;
    flex-wrap: wrap;
    .header-logo {
      flex-grow: 1;
    }
    .header-links {
      display: none;
    }
  }

  //   Media Query for Header Menu
  @include mQ(1046px) {
    .header-links {
      display: flex !important;
      flex-grow: 7;
      align-items: center;

      ul {
        display: flex;
        flex-grow: 3;
        padding: 0 20px;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
      }

      .register-button {
        flex-grow: 2;
        padding-left: 20px;

        button {
          padding: 15px 30px;
          border-radius: 50px;
          background-color: lighten($blackBackground, 10);
          color: white;
        }
      }
    }
  }

  //   Section one inner (Register)
  .start-register-card {
    @include boxShadow;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: -200px;
    padding: 40px;
    justify-content: space-between;
    align-items: center;

    // Registeration detail card
    .inner-register-detail-card {
      flex: 1 1 0px;
      h2 {
        font-size: 2.2rem;
        margin-bottom: 30px;
        font-weight: bold;
        position: relative;
        &::before {
          content: "UI/UX";
          position: absolute;
          font-size: 6rem;
          color: $lightBlack;
          top: 20px;
          opacity: 0.1;
          z-index: 0;
        }
      }
      h3 {
        font-weight: 500;
        margin-bottom: 30px;
        color: $lightBlack;
      }
      p {
        line-height: 40px;
        font-size: 1.2rem;
        @include mQ($mediumScreen) {
          width: 70%;
        }
      }

      button {
        padding: 20px 100px;
        margin-top: 50px;
        background-color: $accentColor;
        color: white;
        border-radius: 10px;
        font-size: 16px;
      }
    }

    .inner-register-image-card {
      display: none;
    }

    //   Media Query for Start registration card

    @include mQ($mediumScreen) {
      z-index: 2;
      flex-direction: row;
      padding: 50px 100px;

      .inner-register-image-card {
        display: block;
        flex: 1 1 0px;
        text-align: right;
        img {
          max-width: 500px;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

// Section Two Abou US

.section-two {
  background-color: $offWhiteColor;
  padding: 40px 0;
  @include mQ($mediumScreen) {
    padding: 300px 0 1px 0;
  }
  .container {
    background-color: $offWhiteColor;
    .section-two-about-us {
      display: flex;
      flex-direction: column;
      background-color: white;
      @include segmentContainer;
      @include boxShadow;
      // About us heading
      .about-us-heading {
        @include mQ($largeScreen) {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-bottom: 60px;
          margin-top: -120px;
        }
        .about-us-heading-image {
          display: none;

          @include mQ($largeScreen) {
            display: block;
            img {
              max-width: 300px;
              width: 100%;
              height: auto;
            }
          }
          @include mQ(1252px) {
            img {
              max-width: 500px;
            }
          }
        }
        p {
          text-align: center;
          font-size: 2rem;
          font-weight: bold;
          margin: 30px 0;
          position: relative;
          @include mQ($largeScreen) {
            margin: 0;
            padding: 0;
            justify-self: center;
          }
          &::before {
            content: "About";
            position: absolute;
            font-size: 6rem;
            color: $lightBlack;
            top: -5px;
            right: 60px;
            opacity: 0.1;
            z-index: 0;
            @include mQ($mediumScreen) {
              right: 200px;
            }
            @include mQ($largeScreen) {
              top: -10px;
              right: -60px;
            }
          }
        }
        .about-us-social-icons {
          display: none;
          @include mQ($largeScreen) {
            display: flex;
            flex-direction: column;
            img {
              margin: 10px 0;
            }
          }
        }
      }
    }
  }
}

// Section Two (Course Experience)
.course-experience {
  position: relative;
  background-color: white;
}

.section-two-course-experience {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px;
  margin: 40px 0;
  border-radius: 15px;
  @include boxShadow;
  @include mQ($largeScreen) {
    margin-top: 40px;
    margin-bottom: -100px;
    padding: 40px;
  }

  .course-experience-title {
    @include beforeTileOverlay;
    p {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 40px;
      position: relative;
      &::before {
        position: absolute;
        content: "Experience";
        font-size: 4rem;
        color: $lightBlack;
        top: -5px;
        right: -60px;
        opacity: 0.1;
        z-index: 0;
      }
    }
  }

  .experience-stages {
    width: 100%;
    ul {
      li {
        border: solid black 1px;
        padding: 20px 0;
        margin: 10px 0;
        text-align: center;
        border-radius: 5px;
      }
      #before-attendance {
        background-color: $blackBackground;
        color: white;
      }
      @include mQ($mediumScreen) {
        display: flex;
        padding: 0 30px;
        li {
          padding: 17px 0;
          flex-grow: 1;
        }
        #after-attendance {
          border-radius: 15px 0 0 15px;
        }
        #before-attendance {
          border-radius: 0 15px 15px 0;
        }
      }
    }
  }
}

// Experience Body
.course-experience-body {
  img {
    display: none;
  }
  @include mQ($mediumScreen) {
    display: flex;
    align-items: center;
    img {
      display: block;
    }
  }
}

// **************************************************************

// Section Threee (Sessions)
.section-three {
  background-color: rgb(75, 177, 177);

  padding: 40px 20px;
  @include mQ($mediumScreen) {
    padding: 40px;
  }
  .container {
    .session-title {
      @include beforeTileOverlay;
      margin-top: 150px;
      p {
        text-align: center;
        &::before {
          content: "Sessions";
        }
        @include sectionTitle;
      }
    }
  }
}

.session-bar-outer {
  border-left: solid black 4px;
  padding: 0 20px;
}

// Session Bar Body
.session-bar-body {
  background-color: $offWhiteColor;
  padding: 0 10px;
  border-radius: 10px;
  align-items: center;
  @include mQ(876px) {
    display: grid;
    grid-template-columns: 25% 75%;
  }
  h3 {
    flex-grow: 1;
    padding: 10px 0;
  }
  .session-bar {
    display: none;
    @include mQ(876px) {
      display: flex;
      flex-grow: 2.5;
      align-items: center;
      .session-bar-items {
        display: flex;
        flex-grow: 1;
        align-items: center;
        img {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}

// Session body
.session-body-outer {
  border-left: solid $lightBlack 1px;
  padding: 0 20px;
  .session-body {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 40px 0;
    .session-body-paragraph {
      max-width: 835px;
      p {
        font-size: 1rem;
        font-weight: 200;
        @include mQ($mediumScreen) {
          margin-right: 50px;
        }
      }
    }
  }
}

// Section four
.master-session {
  border-radius: 30px;
  box-shadow: 24px 34px 33px -40px rgba(171, 161, 171, 1);
  @include segmentContainer;
  &-title {
    @include beforeTileOverlay;
    p {
      @include sectionTitle;
      &::before {
        content: "Masters";
      }
      text-align: center;
    }
  }

  &-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    position: relative;
    @include mQ($mediumScreen) {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
    @include mQ($largeScreen) {
      grid-template-columns: repeat(6, 1fr);
      gap: 20px;
    }
  }
}

.master-session-card {
  img {
    width: 100%;
    height: auto;
  }
  &-name {
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
  }
  &-title {
    text-align: center;
    font-size: 0.8rem;
  }
}

.master-session-card-hover {
  background-color: black;
  // margin: 0 10px;
  // opacity: 1;
  position: absolute;
  top: 0px;
  left: 0;

  .card-hover-social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    img {
      width: 20px;
      height: auto;
    }
  }

  .card-hover-about-author {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border-radius: 8px;
    padding: 0 5px;
    flex-wrap: wrap;
    img {
      width: 20px;
      height: auto;
    }
    p {
      font-size: 0.7rem;
      color: white;
    }
  }
}

// Frequently asked Questions

.faq-section {
  background-color: $offWhiteColor;
  margin-bottom: 50px;
}

.faq {
  padding: 40px 0;
  border-radius: 15px;
  @include mQ($largeScreen) {
    padding: 60px 0 450px 0;
  }
  &-title {
    @include beforeTileOverlay;
    p {
      @include sectionTitle;
      &::before {
        content: "FAQ";
        left: -30px;
      }
      text-align: center;
    }
  }

  &-tabs-items {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding: 10px 30px;
    background-color: white;
    margin: 30px 0;
    &-icon {
      font-size: 2rem;
      font-weight: 400px;
      margin-left: 20px;
    }
  }
}

// Section four (Course fee )

.course-fee {
  background-color: white;
  @include segmentContainer;
  @include boxShadow;
  margin-top: -400px;
  margin-bottom: 150px;
  &-title {
    @include beforeTileOverlay;
    p {
      @include sectionTitle;
      &::before {
        content: "Fee";
        right: 10px;
      }
      text-align: center;
      margin-bottom: 100px;
    }
  }
}

.course-fee-body {
  &-left {
    margin-bottom: 70px;
    @include mQ($mediumScreen) {
      margin-bottom: 0;
    }
  }

  &-left-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  &-left-list {
    &-item {
      display: flex;
      align-items: flex-start;
      div {
        margin-top: 6px;
        margin-right: 15px;
      }
    }
  }

  @include mQ($mediumScreen) {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-column-gap: 40px;
  }
}

.course-fee-body-right {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 30px;
  padding: 50px;
  color: white;

  &-item-1 {
    text-decoration: line-through;
  }

  &-item-2 {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 15px 0;
  }
  &-item-3 {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }
  button {
    background-color: $accentColor;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2em;
  }
}

hr {
  margin: 50px;
  color: $lightBlack;
}

.course-fee-footer {
  text-align: center;
  color: $lightBlack;
}

// Section five (Contact form)

.contact-form-section {
  background-color: black;
  color: white;
}

.contact-form {
  padding: 40px 0;
  border-radius: 15px;
  @include mQ($mediumScreen) {
    display: flex;
    justify-content: space-between;
  }
  @include mQ($largeScreen) {
    padding: 60px 0;
  }

  align-items: center;
  &-left {
    h3 {
      margin: 30px 0;
      font-size: 1.4rem;
    }
    p {
      margin: 30px 0;
    }
    &-input {
      input {
        padding: 15px 25px;
        width: 100%;
        background-color: lighten(black, 10);
        margin-bottom: 30px;
        border-radius: 10px;
        font-size: 1.1rem;
        border: none;
        color: white;
        margin-bottom: 60px;
        &:focus {
          outline-width: 0;
        }
      }
    }
    &-message-sent {
      display: flex;
      align-content: center;
      img {
        margin-top: 5px;
        margin-right: 20px;
      }

      p {
        font-size: 0.8rem;
        margin: 0;
      }
    }
  }

  &-right {
    display: none;
    @include mQ($mediumScreen) {
      display: block;
      max-width: 400px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

// Section seven (Projects)

.projects-section {
  padding: 40px 0;
}

.project {
  padding: 40px 0;
  border-radius: 15px;
  @include mQ($largeScreen) {
    padding: 60px 0;
  }
  &-title {
    @include beforeTileOverlay;

    h3 {
      @include sectionTitle;
      &::before {
        content: "Projects";
        // right: 50px;
        top: -30px;
      }
      text-align: center;
    }
  }
}

.project-body {
  @include mQ($largeScreen) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    align-items: center;
  }

  &-left {
    &-title {
      @include sectionTitle;
      text-align: center;
    }
  }
}

.project-body-left {
  h3 {
    font-size: 2rem;
    margin: 20px 0;
  }
  &-paragraph {
    margin-bottom: 30px;
  }
  &-lists {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
    font-size: 0.9rem;

    img {
      margin-right: 20px;
      margin-top: 5px;
    }
  }

  &-counter {
    background-color: $offWhiteColor;
    display: inline-grid;
    padding: 5px 45px;
    border-radius: 10px;
    margin-top: 20px;
    p {
      font-weight: 700px;
      font-size: 1.2rem;
    }
  }
}

@mixin sliderButton {
  padding: 10px 20px;
  border: solid $lightBlack 0.5px;
  background-color: white;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 400px;
  position: absolute;
}
.project-body-right {
  width: 100%;
  // margin: 40px;
  position: relative;
  img {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }
  &-left {
    @include sliderButton;
    bottom: 15%;
    left: 20%;
  }
  &-right {
    @include sliderButton;
    right: 20%;
    bottom: 15%;
  }
}

// Shedule Section

.schedule-section {
  background-color: $offWhiteColor;
}

.schedule {
  padding: 40px 0;
  border-radius: 15px;
  @include mQ($largeScreen) {
    padding: 60px 0;
  }

  &-title {
    @include beforeTileOverlay;
    p {
      @include sectionTitle;
      &::before {
        content: "Schedule";
      }
      text-align: center;
    }
  }
}

.schedule-body {
  &-duration {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &-date {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    margin-bottom: 80px;
    p {
      background-color: white;
      text-align: center;
      border-radius: 15px;
      padding: 20px 0;
      font-weight: bold;
      font-size: 2rem;
    }
  }

  &-timer {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    &-days {
      background-color: black;
      padding: 5px 15px;
      border-radius: 15px;
      margin-right: 30px;
      color: white;
    }
    &-days-left {
      font-weight: bold;
      margin-right: 30px;
      @include mQ($mediumScreen) {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
    button {
      padding: 7px 40px;
      border-radius: 15px;
      background-color: $accentColor;
      color: white;

      @include mQ($mediumScreen) {
        font-size: 1.1rem;
        padding: 10px 70px;
      }
    }
  }
}

// Footer
footer {
  padding: 60px 0;
}

.footer {
  & > * {
    margin: 20px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mQ($mediumScreen) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &-social {
    img {
      width: 25px;
      height: auto;
      margin: 0 20px;
    }
  }
  &-logo {
    img {
      width: 120px;
      height: auto;
    }
  }
}
