// Color Variables
$blackBackground: #111111;
$whiteBackGround: #ffffff;
$offWhiteColor: #fafafa;
$greyHeaderColor: #f8f8f8;
$accentColor: #f36732;
$lightBlack: #707070;

// Screen sizes
$mediumScreen: 768px;
$largeScreen: 992px;
$extraLargeScreen: 1200px;

// Dimension Varaibles
$sectionPadding: 40px;

// Mixins
@mixin mQ($args) {
  @media screen and (min-width: $args) {
    @content;
  }
}

// Resets
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

  body {
    font-family: "Product Sans", sans-serif;
  }

  button {
    border-style: none;
    cursor: pointer;
  }
  p {
    line-height: 40px;
    font-size: 1.1rem;
    font-weight: 200;
  }
}

// Default Container
.container {
  padding: 0 20px;
}

@include mQ($mediumScreen) {
  .container {
    padding: 0 30px;
  }
}

@include mQ($largeScreen) {
  .container {
    padding: 0 60px;
  }
}

@include mQ($extraLargeScreen) {
  .container {
    padding: 0 100px;
  }
}

// Section one
.section-one {
  background-color: $blackBackground;
  padding: $sectionPadding 0;
  // @include mQ($mediumScreen) {
  //   padding-bottom: 0;
  // }

  //   Header menu
  header {
    color: white;
    display: flex;
    flex-wrap: wrap;
    .header-logo {
      flex-grow: 1;
    }
    .header-links {
      display: none;
    }
  }

  //   Media Query for Header Menu
  @include mQ(1046px) {
    .header-links {
      display: flex !important;
      flex-grow: 7;
      align-items: center;

      ul {
        display: flex;
        flex-grow: 3;
        padding: 0 20px;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
      }

      .register-button {
        flex-grow: 2;
        padding-left: 20px;

        button {
          padding: 15px 30px;
          border-radius: 50px;
          background-color: lighten($blackBackground, 10);
          color: white;
        }
      }
    }
  }

  //   Section one inner (Register)
  .start-register-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    padding: 40px;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;

    // Registeration detail card
    .inner-register-detail-card {
      flex: 1 1 0px;
      h2 {
        font-size: 2.2rem;
        margin-bottom: 30px;
        font-weight: bold;
        position: relative;
        &::before {
          content: "UI/UX";
          position: absolute;
          font-size: 6rem;
          color: $lightBlack;
          top: 20px;
          opacity: 0.1;
          z-index: 0;
        }
      }
      h3 {
        font-weight: 500;
        margin-bottom: 30px;
        color: $lightBlack;
      }
      p {
        line-height: 40px;
        font-size: 1.2rem;
        @include mQ($mediumScreen) {
          width: 70%;
        }
      }

      button {
        padding: 20px 100px;
        margin-top: 50px;
        background-color: $accentColor;
        color: white;
        border-radius: 10px;
        font-size: 16px;
      }
    }

    .inner-register-image-card {
      display: none;
    }

    //   Media Query for Start registration card

    @include mQ($mediumScreen) {
      z-index: 2;
      flex-direction: row;
      padding: 50px 100px;

      .inner-register-image-card {
        display: block;
        flex: 1 1 0px;
        text-align: right;
        img {
          max-width: 500px;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

// Section Two

.section-two {
  background-color: $offWhiteColor;
  padding: 40px 0;
  @include mQ($mediumScreen) {
    padding: 300px 0 40px 0;
  }
  .container {
    background-color: $offWhiteColor;
    .section-two-about-us {
      display: flex;
      flex-direction: column;
      background-color: white;
      padding: 40px;
      border-radius: 15px;
      @include mQ($largeScreen) {
        padding: 60px 100px;
      }
      // About us heading
      .about-us-heading {
        @include mQ($largeScreen) {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-bottom: 60px;
          margin-top: -120px;
        }
        .about-us-heading-image {
          display: none;

          @include mQ($largeScreen) {
            display: block;
            img {
              max-width: 300px;
              width: 100%;
              height: auto;
            }
          }
          @include mQ(1252px) {
            img {
              max-width: 500px;
            }
          }
        }
        p {
          text-align: center;
          font-size: 2rem;
          font-weight: bold;
          margin: 30px 0;
          position: relative;
          @include mQ($largeScreen) {
            margin: 0;
            padding: 0;
            justify-self: center;
          }
          &::before {
            content: "About";
            position: absolute;
            font-size: 6rem;
            color: $lightBlack;
            top: -5px;
            right: 60px;
            opacity: 0.1;
            z-index: 0;
            @include mQ($mediumScreen) {
              right: 200px;
            }
            @include mQ($largeScreen) {
              top: -10px;
              right: -60px;
            }
          }
        }
        .about-us-social-icons {
          display: none;
          @include mQ($largeScreen) {
            display: flex;
            flex-direction: column;
            img {
              margin: 10px 0;
            }
          }
        }
      }

      // About us body(Text)
      .about-us-body {
      }
    }
  }

  // Section Two Course Experience
  .section-two-course-experience {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    margin: 40px 0;
    border-radius: 15px;
    @include mQ($largeScreen) {
      padding: 60px 100px;
      margin: 100px 0;
    }

    .course-exprerience-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
      p {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 40px;
        position: relative;
        &::before {
          content: "Exprerience";
          position: absolute;
          font-size: 4rem;
          color: $lightBlack;
          top: -5px;
          right: -60px;
          opacity: 0.1;
          z-index: 0;
        }
      }

      .experience-stages {
        width: 100%;
        ul {
          li {
            border: solid black 1px;
            padding: 20px 0;
            margin: 10px 0;
            text-align: center;
            border-radius: 5px;
          }
          #before-attendance {
            background-color: $blackBackground;
            color: white;
          }
          @include mQ($mediumScreen) {
            display: flex;
            padding: 0 30px;
            li {
              padding: 17px 0;
              flex-grow: 1;
            }
            #after-attendance {
              border-radius: 15px 0 0 15px;
            }
            #before-attendance {
              border-radius: 0 15px 15px 0;
            }
          }
        }
      }
    }

    // Experience Body
    .course-experience-body {
      img {
        display: none;
      }
      @include mQ($mediumScreen) {
        display: flex;
        align-items: center;
        img {
          display: block;
        }
      }
    }
  }
}

// Section Threee
